@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "leaflet/dist/leaflet.css";

@import "register.css";
@import "about.css";
@import "homepage.css";
@import "navbar.css";
@import "term.css";
@import "login.css";
/* This file is for your main application CSS */

.phx-connected {
  @apply w-full h-full relative;
}

.create_report_toolbox_open {
  @apply md:gap-6 md:p-4;
}

.create_report_toolbox_open_button {
  @apply md:h-16 md:w-16;
}

.navbar_buttons {
  @apply flex text-lg text-secondary bg-secondary-400 rounded-xl px-4 py-1.5 mx-2 hover:bg-secondary-500 shadow-md font-medium;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
.rotate-y-0 {
  transform: rotateY(0deg);
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.btn {
  @apply flex-1 z-20 text-center text-lg font-extrabold text-[rgb(212,241,244)] rounded-lg shadow-lg px-2 py-2 bg-[rgb(24,158,180)] transition duration-100 hover:bg-[rgb(117,230,218)] active:translate-y-1 active:shadow-none;
}
.btn_delete{
  @apply flex-1 z-20 text-center font-extrabold text-[rgb(212,241,244)] rounded-lg shadow-lg px-2 py-2 bg-[rgb(255,20,60)] transition duration-100 hover:bg-[rgb(255,65,95)] active:translate-y-1 active:shadow-none;
}
.p_card {
  @apply flex flex-row justify-between w-6/12;
}

.conteiner {
  display: block;
  height: auto;
  width:80%;
}

.bolded_blue {
  font-weight: 600;
  color: #189ab4;
  font-size: 1.5em;
  text-align: left;
}
.normal_blue {
  color: #189ab4;
}
.less_blue {
  text-align: left;
  color: #189ab4;
  font-weight: 600;
}
@layer utilities {
  .auto-if-overflow {
    min-height: screen;
    height: auto;
  }
}
.trin-trin {
  animation-name: jiggle;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes jiggle {
  0%,
  100% {
    transform: translateX(0); /* Start and end at the original position */
  }
  25% {
    transform: translateX(-5px); /* Move 5px to the left */
  }
  75% {
    transform: translateX(5px); /* Move 5px to the right */
  }
}

.bounce-message {
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.none {
  display: none;
}

.btn_delete{
  @apply flex-1 z-20 text-center text-lg font-extrabold text-[rgb(212,241,244)] rounded-lg shadow-lg px-2 py-2 bg-[rgb(255,20,60)] transition duration-100 hover:bg-[rgb(255,65,95)] active:translate-y-1 active:shadow-none;
}
.leaflet-popup-content-wrapper{
  @apply bg-base-100
}
.leaflet-popup-close-button{
  @apply hidden
}
.leaflet-popup-tip{
  @apply bg-base-100
}
.leaflet-popup-content{
  width: 200px; 
}
.p_card_map{
  @apply flex my-0 mx-0 items-center bg-accent px-1 py-1 w-full rounded-md
}
.p_card_map_comment{
  @apply my-0 mx-0 bg-accent w-full rounded-md
}
.p_card_name{
  @apply mt-5 mx-0 text-center items-center text-lg  px-1 py-1 w-full rounded-md
}
.leaflet-popup-content p{
  margin: 0;
}
