.Container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-bottom: 20px;
}

.Contact p {
    font-weight: 400;
    font-size: 1.8em;
    color: #189ab4;
}

.Contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1500px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 450px;
    height: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px 30px;
    border-radius: 7px;
    background-color: #e7f5f7;
}

.blue {
    color: #189ab4;
    font-size: larger;
}

.IARA, .emergency {
    font-weight: 400;
    color: white;
    padding: 10px 30px;
    border-radius: 7px;
    cursor: pointer;
    width: 230px; 
    height: 50px;
}

.IARA {
    background-color: #007bff;
}

.emergency {
    background-color: #dc3545;
}

.IARA:hover {
    background-color: #0056b3; 
}

.emergency:hover {
    background-color: #c82333; 
}


.trin-trin {
    animation-name: jiggle;
    animation-duration: 0.4s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes jiggle {
    0%, 100% { 
        transform: translateX(0); /* Start and end at the original position */
    }
    25% { 
        transform: translateX(-5px); /* Move 5px to the left */
    }
    75% { 
        transform: translateX(5px);  /* Move 5px to the right */
    }
}


.bounce-message {
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


@media (max-width: 1024px) {
    .information {
        width: 90%; 
    }

    .IARA, .emergency {
        width: 100px; 
        height: 45px; 
    }
}


@media (max-width: 768px) {
    .Contacts {
        flex-direction: column; 
        align-items: center;
    }

    .information {
        max-width: 100%;
        margin: 20px;
        width: auto; 
    }

    .IARA, .emergency {
        width: 100%; 
        height: 50px; 
        font-size: 1em; 
    }

    
    .Container {
        padding: 10px;
    }

    .Contact p {
        font-size: 1.5em; /* Reduce font size on smaller screens */
    }
}

