.forgot_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Full viewport height */
    padding: 20px; /* Padding around the container */
    box-sizing: border-box; /* Ensures padding is included in width */
}

.forgot_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    height: auto;
    width: 100%; /* Full width */
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .35);
    background-image: url(/images/Assetss/media/waveLoginReg.68182ede.svg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom center; 
    padding: 20px;
    box-sizing: border-box; /* Include padding in width */
}

/* Make the font size adjust based on the screen size */
.forgot_header {
    color: #189ab4;
    font-size: 1.8em; /* Larger for bigger screens */
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.forgot_p {
    color: #189ab4;
    text-align: center;
    font-size: 1.2em;
}

.input_type {
    border: none;
    border-bottom: 2px solid #189ab4;
    width: 90%;
    margin-top: 0.5rem;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease-in-out;
}

.input_type:focus {
    outline: none;
    border-bottom: 2px solid #495057;
}

.forgot_button {
    height: 60px;
    width: 120px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #189ab4;
    color: #189ab4;
    font-weight: 600;
    background-color: #e7f5f7;
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out;
}

.forgot_button:hover {
    background-color: rgb(17, 68, 75);
    color: #fff;
}

/* Media query for smaller screens (mobile phones) */
@media (max-width: 600px) {
    .forgot_div {
        max-width: 100%; /* Full width on small screens */
        height: auto; /* Adapt height */
        padding: 10px;
    }

    .forgot_header {
        font-size: 1.4em; /* Smaller font size for mobile */
    }

    .input_type {
        width: 100%; /* Input takes full width on small screens */
    }

    .forgot_button {
        width: 100%; /* Button takes full width */
        height: 50px;
    }
}

/* Media query for tablets */
@media (min-width: 600px) and (max-width: 1024px) {
    .forgot_div {
        max-width: 80%; /* Slightly smaller for tablet */
    }
}
