.Conteiner{
    display:block;
    height: auto;
    width: auto;
}

.bolded_blue{
    font-weight: 600;
    color:#189ab4;
    font-size: 1.5em;
    text-align: center;
}
.normal_blue{
    color:#189ab4;
}
.less_blue{
    text-align: center;
    color:#189ab4;
    font-weight: 600;

}